/* Body CSS */
body{
	border:none;
	margin:0 auto;
	padding:0;
	font-family: 微软雅黑;
	font-size: 12px;
}

body,html{height: 100%;}


/* 底部CSS */
.foot{
	text-align: center;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-shadow: 2px 2px 2px #CCCCCC;
	color:#FFFFFF;
	background-color: #1b9af7;
}

/* 顶部CSS */
.top-bar{
	height: 30px;
	background-color: #1b9af7;
	overflow: hidden;
}

.top-bar .info{
	color:#FFFFFF;
	text-align: left;
	float: left;
	height: 30px;
	line-height: 30px;
	width: 60%;
	text-shadow: 5px 5px 5px #CCCCCC;
}

.top-bar .info a{
	color:#ffffff;
	font-size: 10px;
}

.top-bar .info a:hover{
	color:#CCCCCC;
	font-size: 10px;
}

.top-bar .info .textbox{
	border:none;
	border-radius: 0px;
}

.top-bar .info b{
	margin-left: 10px;
}

.top-bar .action{
	text-align: right;
	float: left;
	width: 40%;
}

.top-bar ul{
	list-style:none;
	float: right;
	margin:0;
}

.top-bar ul li{
	float: left;
	margin: 0 20px;
	height:30px;
	line-height: 30px;
}

.top-bar ul li a{
	color: #FFFFFF;
	text-decoration: none;
}


.top-menu{
	overflow: hidden;
}

.top-menu button {
	margin: 15px 20px 0px 20px;
	font-size: 30px;
	line-height: 10px;
}

/* 欢迎页面CSS */
.welcome-panel{
	margin:0 auto;
	text-align: center;
}

.welcome-panel .welcome-tb button{
	font-size: 40px;
	line-height: 10px;
	width: 80px !important;
	height: 80px;
}

table.welcome-tb {
	width: 80%;
	text-align: center;
	margin: 0px auto;
	margin-top: 30px;
}

table.welcome-tb td{
	height: 120px;
}

.chart-btn-tb{
	width: 90%;
	text-align: center;
	margin: 0px auto;
	margin-top: 100px;
}


