<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ahyc.yjz.mapper.extend.CashFlowExtendMapper">

  <resultMap id="ReportRow" type="cn.ahyc.yjz.dto.ReportRow">
    <constructor>
      <arg column="cA" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cB" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cC" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>

  <select id="cashFlowsByPeriod" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT t1.*, t3.cash
        FROM cash_flow t1 LEFT JOIN (SELECT t2.cash_code, SUM(t2.money) AS cash
            FROM cash_flow_data t2, period t3
            WHERE t3.book_id = #{bookId}
                AND t2.period_id = t3.id
                AND t3.current_period &gt;= #{startPeriod}
                AND t3.current_period &lt;= #{endPeriod}
            GROUP BY t2.cash_code
            ) t3 ON t1.cash_code = t3.cash_code
        ORDER BY t1.static_code
    </select>

  <select id="selectCashFlowExpressionColumn" resultMap="ReportRow">
    select
    	t.name as cA,
    	t.auxiliary_exp as cB,
    	t.real_exp as cC
    from
    	cash_flow_sheet t
   	order by t.id asc
  </select>
</mapper>